.banner-container{
    height: 50px;
}

.service-title{
    margin-bottom: 50px;
}

.img-cont{
    margin-left: 60px;
    margin-top: 30px;
}

.form-container{
    margin-left: 80px;
}

.div-1{
    padding: 40px;
    margin-left: 150px;
}

.footer-div{
    margin-left: 40px;
}

.second-row{
    margin-top: 50px;
}

.service-container{
    padding: 5px;
    margin-top: 1000px;
}

.contact-us{
    margin-top: 50px;
}

.header-cls{
    margin-left: 120px;
    margin-right: 120px;
}